html {
    scroll-behavior: smooth;
}

p {
    margin: 0;
}



#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /*width: 100vw;*/
    background: #F8FAFC;
}

body {
    height: 100vh;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
    font-family: "Yu Gothic Medium", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-weight: 500;
}

.content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 5;
    font-family: "Yu Gothic Medium", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-weight: 500;
}

.content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 5;
    font-family: "Yu Gothic Medium", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-weight: 500;
}


.menu-container {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    pointer-events: none;
    /* これによりレイヤーの上からでもボタンが押せます */
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 30;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-100%);
    transition: transform 0.5s;
    transition-delay: 0.5s;
    visibility: hidden;
}

.menu ul {
    padding: 0;
}

.menu ul li {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 45px;
    min-height: 45px;
    padding: 15px;
    text-align: center;
    list-style: none;
}

.menu ul li a {
    cursor: pointer;
    text-decoration: none;
    color: #1E293B;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
    font-family: "Yu Gothic Medium", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-weight: 500;
}

.menu ul li a:hover {
    color: #BAE6FD;
}

.menu-sliders {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: flex 0.45s;
}

.menu-sliders:nth-child(2) {
    flex: 1 0 100%;
    background: transparent;
}

.menu-sliders:nth-child(odd) {
    /* darken(dodgerblue, 20%) を通常のカラーコードに変換 */
    background: #E0F2FE;
}

.plus-btn-pos {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 50;
}

.plus-btn {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: white;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.plus-btn div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 3px;
    background: #333;
    transition: transform 0.3s;
    transition-delay: 0.5s;
}

.plus-btn .r1 {
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.plus-btn .r2 {
    transform: translateX(-50%) translateY(-50%) rotate(-180deg);
}

.plus-btn:hover {
    background: #BAE6FD;
}

.plus-btn:hover div {
    background: white;
}

.plus-btn:active {
    box-shadow: none;
}

/* メニューが開いたときの状態（bodyに .menu-open がついたとき） */
body.menu-open .menu-sliders:nth-child(2) {
    flex: 0 0 0%;
}

body.menu-open .menu {
    transform: translateY(0%);
    visibility: visible;
    pointer-events: all;
}

body.menu-open .plus-btn .r1 {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

body.menu-open .plus-btn .r2 {
    transform: translateX(-50%) translateY(-50%) rotate(-135deg);
}

.mainvisual {
    margin-top: 150px;
    margin-bottom: 200px;
}

.mainvisual img {
    width: 100%;
    height: auto;
    max-width: 200px;
}

.heartimage {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* 画像同士の間隔 */
    width: 100%;
    overflow: hidden;
    /* はみ出し防止 */
    box-sizing: border-box;
    padding: 0 20px;
    /* 画面端に余白 */
    margin: 48px 0px 48px 0px;
}

.heartimage img {
    display: block;
    max-width: 100%;
    height: auto;
}

.indextext1 {
    text-align: center;
    margin: 0px 20px;
}

.highlight {
    color: #ed083b;
    font-weight: bold;
}

.contenttittle {
    padding-top: 50px;
}

.content1tittle {
    display: flex;
    margin: 50px 0px 0px 0px;
    justify-content: center;
}

.content12ndtittle {
    display: flex;
    justify-content: center;
    margin: 0px 0px 30px 0px;
}

.content1subtittle {
    font-weight: bold;
    margin: 30px 20px 5px 20px;
}

.content1text {
    margin: 10px 20px 30px 20px;
}

.content2tittle {
    display: flex;
    justify-content: center;
    margin: 100px 0px 30px 0px;
}

.content2text {
    margin: 10px 20px 30px 20px;
}

.hrline {
    margin: 20px 0px;
}